<!DOCTYPE html>
<html ng-app="beerApp">
  <head>
    <meta charset="utf-8">


    <link rel="stylesheet" type="text/css" href="css/beerPercent.css">
    <link rel="stylesheet" type="text/css" href="css/brewMood.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Righteous" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.15/angular-ui-router.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.0-beta.2/angular-resource.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-filter/0.5.16/angular-filter.js" charset="utf-8"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <!-- Google Map CDN -->
    <script src="/bower_components/ngmap/build/scripts/ng-map.min.js"></script>

    <script src="bower_components/ngmap/build/scripts/ng-map.min.js"></script>
    <script src="http://maps.google.com/maps/api/js"></script>


    <script src="js/app.js" charset="utf-8"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <title>Brew Mood</title>

    <link rel="shortcut icon" href="https://cdn0.iconfinder.com/data/icons/small-n-flat/24/678063-beer-128.png" />
  </head>

  <body ng-controller="startpage as vm">
    <div class="terms" ng-hide="vm.startpage=='3'">
      <div class="well well-lg">
      <p>Terms and Agreements:</p>
      <p >By clicking this, I confirm the following agreements.<br>
        I am 21 and above. </br>
        I understand that other factors might change BAC results in reality.</br>
        This app is not responsible for any consequences. </br>
        Please drink safely.
      </p>
      <p>
        <!-- <input type="checkbox"  ng-model="vm.termsRead" ng-value="0.68" > -->
        <input  ng-model="vm.termsRead" type="radio" name="termsRead" ng-value="2">
        I have read and agree to the above terms and conditions:
      </p>
    <button ng-click="vm.start()">Submit</button>
    <!-- <button id="xx"  type="button" name="button">Checking</button> -->
    </div>
    </div>

    <div ng-show="vm.startpage=='3'">
      <!-- Fixed navbar -->
        <nav class="navbar navbar-top">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" data-toggle="tab"href="/#/">Brew Mood</a>
            </div>

            <div id="navbar" class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
                <li><a class="black" href="/#/breweries">Breweries</a></li>
                <li><a class="black"href="/#/beers">Beers</a></li>
                <li class="dropdown">
                  <a class="black" href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Sorts/Searches <span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li><a class="black" href="/#/beer-mood">Find Beers by Mood</a></li>
                    <li><a class="black" href="/#/brew-mood">Find Breweries by Mood</a></li>
                    <li><a class="black" href="/#/beerpercent">Find Beers by ABV</a></li>
                    <li><a class="black" href="/#/beer-ibu">Find Beers by IBU</a></li>
                    <!-- <li><a class="black" href="/#/breweries">Search All Breweries</a></li>
                    <li><a class="black" href="/#/beers">Search All Beers</a></li> -->
                  </ul>
                </li>
                <li><a class="black" href="/#/comments">About</a></li>
              </ul>
            </div><!--/.nav-collapse -->
          </div>
        </nav>

        <div class="header">
          <img src="http://www.lowgluten.org/wp-content/uploads/2015/08/header2015b.png"></img>
        </div>

        <div class="logoHeader">
          <h1>Brew Mood<h1>
        </div>

        <!-- <div class="sorts">
          <button type="button" class="btn btn-md btn-warning"><a href="/#/beer-mood">Find Beers by Mood</a></button>
          <button type="button" class="btn btn-md btn-warning"><a href="/#/brew-mood">Find Breweries by Mood</a></button>
          <button type="button" class="btn btn-md btn-warning"><a href="/#/beerpercent">Find Beers by ABV</a></button>
          <button type="button" class="btn btn-md btn-warning"><a href="/#/beer-ibu">Find Beers by IBU</a></button>
          <button type="button" class="btn btn-md btn-warning"><a href="/#/beers">Find Beers by Name</a></button>
          <button type="button" class="btn btn-md btn-warning"><a href="/#/breweries">Find Breweries by Name</a></button>
        </div> -->


      <main class="test-color" ui-view></main>

      <footer>
        <hr class="featurette-divider">
        <p>Brew Mood, 2017</p>
      </footer>
    </div>



      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  </body>
</html>
