<select ng-model="vm.selectedcountrty" ng-options="country.name for country in vm.countries">
  <option value="">Select Country</option>
</select>
<select ng-model="selectedcity" ng-options="city.name for city in vm.cities | filter:  {countryId: vm.selectedcountrty.countryId}"}>
  <option value="">Select City</option>
</select>

<div id="bac">
    <div class="section">
      <input ng-model="vm.x" type="radio" name="genderselect" ng-value=false >Body Alchol Content Calculator
      <input ng-model="vm.x" type="radio" name="genderselect" ng-value=true >How much should I drink?
      <div ng-hide="vm.x">
        <p>Number of total Standard Drink:    {{vm.numberOfStandardDrink}}
          <button ng-click="vm.Up()" >UP</button>
          <button ng-click="vm.Down()">Down</button>
        <p>Body weight [pounds] :<input ng-model="vm.bodyWeightInPound" value="0"></p>

        <label for="Gender">Gender:</label>
        <input ng-model="vm.gender" type="radio" name="genderselect" ng-value="0.68" checked>Male
        <input ng-model="vm.gender" type="radio" name="genderselect" ng-value="0.55">Female

        </br>
        <label for="elapsedTime">Elapsed Time [hrs]:</label>
        <input ng-model="vm.elapsedTime" type="radio" name="elapsedTimeSelect" ng-value="1" checked>1
        <input ng-model="vm.elapsedTime" type="radio" name="elapsedTimeSelect" ng-value="2">2
        <input ng-model="vm.elapsedTime" type="radio" name="elapsedTimeSelect" ng-value="3" checked>3
        <input ng-model="vm.elapsedTime" type="radio" name="elapsedTimeSelect" ng-value="4">4
        <input ng-model="vm.elapsedTime" type="radio" name="elapsedTimeSelect" ng-value="5" checked>5
        <input ng-model="vm.elapsedTime" type="radio" name="elapsedTimeSelect" ng-value="6">6
        </br>
        <button ng-click="vm.calculate()">Calculate</button>
        <p ng-show="vm.messageBoard">The BAC total consumption is {{vm.BACPercentage}}, but conidering the elapsed time
           it will be {{vm.currentBACPercentage}}</p>
        <p ng-show="vm.messageBoard">As per this result, {{vm.message}}</p>
      </div>

      <div ng-show="vm.x">
        <p>Body weight [pounds] :<input ng-model="vm.bodyWeightInPound" value="0"></p>
        <label for="Gender">Gender:</label>
        <input ng-model="vm.gender" type="radio" name="genderselect" ng-value="0.68" checked>Male
        <input ng-model="vm.gender" type="radio" name="genderselect" ng-value="0.55">Female
        </br>
        <label for="elapsedTime">How many time you have[hrs]:</label>
        <input ng-model="vm.elapsedTime" type="radio" name="elapsedTimeSelect" ng-value="1" checked>1
        <input ng-model="vm.elapsedTime" type="radio" name="elapsedTimeSelect" ng-value="2">2
        <input ng-model="vm.elapsedTime" type="radio" name="elapsedTimeSelect" ng-value="3" checked>3
        <input ng-model="vm.elapsedTime" type="radio" name="elapsedTimeSelect" ng-value="4">4
        <input ng-model="vm.elapsedTime" type="radio" name="elapsedTimeSelect" ng-value="5" checked>5
        <input ng-model="vm.elapsedTime" type="radio" name="elapsedTimeSelect" ng-value="6">6
        </br>
        <button ng-click="vm.recommend()">Submit</button>
        <p ng-show="vm.messageBoard">Based on your response, you can drink  {{vm.allowednumberOfStandardDrink}}.
          <br>Caustion:Your current mood, weather condition and personality might affect the result. </p>
      </div>

    </div>
  <div class="section1">
    <p>Standard Information:<input type="checkbox"  ng-model="vm.notice"></p>
    <p ng-show="vm.notice">The following are considered as standard drink:<br>
      The standard drink size of liqueur (about 40% abv) </br>
      such as gin or whiskey is approximately 1.5 ounces.</br>
      The standard drink size of a beer with a 5% abv is 12 ounces. </br>
      The standard drink size of a wine with a 12% abv 5 ounces.
    </p>
  </div>
<div>
