
<!-- <div data-ng-repeat="beer in vm.beers">
  <p><a data-ui-sref="beerShow({id: beer.id})">{{beer.name}} </a></p>
</div> -->

<!-- <div ng-controller="BrewMoodController as vm"> -->
  <div ng-repeat="(cat, val) in vm.cats[0]" ng-init="vm.filter[cat] = {}">
    <h4 class="cat-title">{{ vm.catNames[$index] | capitalizeFirst }} <input type="checkbox" ng-model="models[cat]"></h4>
    <div class="quarter" ng-repeat="value in vm.getValuesFor(cat)" ng-show="models[cat]">
      <label class="cat-title">
        <input type="checkbox" ng-model="vm.filter[cat][value]" />
        {{ value }}
      </label>
    </div>
    <hr />
  </div>
  <div>
    <h5 class="cat-title">Matching Beers: {{ filteredBeers.length }}</h5>

    <div class="beers-container">


    <div class="beer-container-index" ng-repeat="beer in (vm.beers | filter:vm.filterByProperties) as filteredBeers">
      <p class="style_name"><a data-ui-sref="beerShow({id: beer.id})">{{beer.name}} </a></p>
      <!-- <a data-ui-sref="breweryShow({id: beer.brewery_id})"><img class="beer-icon-image" src="{{beer.icon}}" alt=""></a> -->
      <p class="category">{{beer.category}}</p>
      <!-- <p><a data-ui-sref="beerShow({id: beer.id})">{{beer.name}} </a></p> -->
    </div>

    </div>
    <hr />

  </div>


<!-- </div> -->
