
<!-- <div data-ng-repeat="beer in vm.beers">
  <p><a data-ui-sref="beerShow({id: beer.id})">{{beer.name}} </a></p>
</div> -->

<!-- <div ng-controller="BrewMoodController as vm"> -->
  <div ng-repeat="(cat, hello) in vm.cats[0]" ng-init="vm.filter[cat] = {}">
    <h3>{{ cat | capitalizeFirst }} <input type="checkbox" ng-model="models[cat]"></h3>
    <div class="quarter" ng-repeat="value in vm.getValuesFor(cat)" ng-show="models[cat]">
      <label>
        <input type="checkbox" ng-model="vm.filter[cat][value]" />
        {{ value }}
      </label>
    </div>
    <hr />
  </div>
  <div>
    <h3>Matching Beers</h3>
    <div ng-repeat="beer in (vm.beers | filter:vm.filterByProperties) as filteredBeers">
      <p><a data-ui-sref="beerShow({id: beer.id})">{{beer.name}} </a></p>
    </div>
    <hr />
    <b>Number of results: {{ filteredBeers.length }}</b>
  </div>


<!-- </div> -->
