

h1{

}

#abvInput {
  height: 100px;
  line-height: 100px;
  font-size: 50px;
  padding: 0 8px;
  width: 200px;
  text-align: center;
  border: 2px solid black;
  margin: 5px;
	}

  #abvInput::-webkit-inner-spin-button {
   -webkit-appearance: none;
    background: #eee url('http://i.stack.imgur.com/YYySO.png') no-repeat 50% 50%;
   cursor:pointer;
   display:block;
   width:8px;
   color: #333;
   text-align:center;
   position:relative;
   opacity: 1;

   width: 50px;
   height: 50px;
   padding: 4px;
   position: relative;
   right: 4px;
}


.input-container{
  display: flex;
  justify-content: center;
}

.input-label{
  font-size: 20px;
  margin: 30px 0 0 0;
}

.beers-container{
  width: cover;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.beer-container{
  font-family: 'Righteous', sans-serif;
  margin: 5px;
  height: 200px;
  width: 100px;
  border: 2px solid black;
  border-radius: 5px;
  text-align: center;
}

.beer-container-index{
  font-family: 'Righteous', sans-serif;
  margin: 5px;
  height: 100px;
  width: 150px;
  border: 2px solid black;
  border-radius: 5px;
  text-align: center;
  /*position: relative;*/
}

.brewery-container-index{
  font-family: 'Righteous', sans-serif;
  margin: 5px;
  height: 150px;
  width: 150px;
  border: 2px solid black;
  border-radius: 5px;
  text-align: center;
  position: relative;

}

.icon-image{
  height: 50px;
  width: 50px;
  position: absolute;
  bottom: 0;
  transform: translate(-50%, -50%);
}

.category{
  /*position: absolute;*/
  bottom: 0;
  left: 0;
  font-size: 9px;
  /*transform: translate(-50%, -50%);*/
}

.style_name{
  margin-bottom: 20px;
}
