

h1{

}

#abvInput {
  height: 100px;
  line-height: 100px;
  font-size: 50px;
  padding: 0 8px;
  width: 200px;
  text-align: center;
  border: 2px solid black;
  margin: 5px;
	}

  #abvInput::-webkit-inner-spin-button {
   -webkit-appearance: none;
    background: #eee url('http://i.stack.imgur.com/YYySO.png') no-repeat 50% 50%;
   cursor:pointer;
   display:block;
   width:8px;
   color: #333;
   text-align:center;
   position:relative;
   opacity: 1;

   width: 50px;
   height: 50px;
   padding: 4px;
   position: relative;
   right: 4px;
}


.input-container{
  display: flex;
  justify-content: center;
}

.input-label{
  font-size: 20px;
  margin: 30px 0 0 0;
}

.beers-container{
  width: cover;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.beer-container{
  font-family: 'Righteous', sans-serif;
  margin: 5px;
  height: 150px;
  width: 150px;
  border: 2px solid black;
  border-radius: 5px;
  text-align: center;
  background-color: #bfbdbd;
}

.beer-container-index{
  font-family: 'Righteous', sans-serif;
  margin: 5px;
  height: 200px;
  width: 150px;
  border: 2px solid black;
  border-radius: 5px;
  text-align: center;
  position: relative;
  background-color: white;
}

.brewery-container-index{
  font-family: 'Righteous', sans-serif;
  margin: 5px;
  height: 200px;
  width: 150px;
  border: 2px solid black;
  border-radius: 5px;
  text-align: center;
  position: relative;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.icon-image{
  height: 50px;
  width: 50px;
  position: absolute;
  bottom: 50px;
  transform: translate(-50%, -50%);
}

.locatlity-text{
  position: absolute;
  width: 100%;
  bottom: 0px;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0 auto;
  /*text-align: center;*/
}

.beer-icon-image{
  height: 30px;
  width: 30px;
  position: absolute;
  bottom: 75px;
  transform: translate(-50%, -50%);
}

.category{
  position: absolute;
  width: 100%;
  bottom: 0px;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0 auto;
}

.style_name{
  margin-bottom: 20px;
}

.cat-title{
  font-family: 'Righteous', sans-serif;
  margin-left: 20px;

}
