/*#abvInput{
  color: red;
  width: 50px;
  height: 30px;
  text-align: center;
}*/

h1{
  color: red;
}

#abvInput {
  height: 100px;
  line-height: 100px;
  font-size: 50px;
  padding: 0 8px;
  width: 200px;
  text-align: center;
	}

  input[type=number]::-webkit-inner-spin-button {
   -webkit-appearance: none;
    background: #eee url('http://i.stack.imgur.com/YYySO.png') no-repeat 50% 50%;
   cursor:pointer;
   display:block;
   width:8px;
   color: #333;
   text-align:center;
   position:relative;
   opacity: 1;

   background: #eee url('http://i.stack.imgur.com/YYySO.png') no-repeat 50% 50%;
   width: 50px;
   height: 50px;
   padding: 4px;
   position: relative;
   right: 4px;
}

 input[type=number]:hover::-webkit-inner-spin-button {


   /*border-radius: 28px;*/
}

/*input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {

  cursor: pointer;
   opacity: 1;
   /*height: 100px;*/
   /*width: 100px;*/
   /*position: relative;
    right: 4px;*/

}

/*input {
	  color: #777;
	  width: 2em;
	  font-size: 2em;
	  border-radius: 10px;
	  border: 2px solid #ccc;
	  padding: 5px;
	  padding-left: 10px;
	}
	input[type=number]::-webkit-inner-spin-button {
	  -webkit-appearance: none;
	  cursor: pointer;
	  display: block;
	  width: 10px;
	  text-align: center;
	  position: relative;
	  background: transparent;
	}
	input[type=number]::-webkit-inner-spin-button::before,
	input[type=number]::-webkit-inner-spin-button::after {
	  content: "";
	  position: absolute;
	  right: 0;
	  width: 0;
	  height: 0;
	  border-left: 7px solid transparent;
	  border-right: 7px solid transparent;
	  border-bottom: 10px solid #777;
	}
	input[type=number]::-webkit-inner-spin-button::before {
	  top: 7px;
	}
	input[type=number]::-webkit-inner-spin-button::after {
	  bottom: 7px;
	  transform: rotate(180deg);
	}*/
