body{
  background-color: #F6ED93
}
.test-color{
  /*background-color: #F6ED93;*/
  background-color: #FFD607;
  font-family: 'Righteous', sans-serif;
}
/*.navbar{
  opacity: 0.9;
}
.nav{
  opacity: 1;
  color: black;
}*/

.terms{
  margin: auto;
  border: 2px solid black;
  text-align: center;
}


body h1{
  font-family: 'Righteous', sans-serif;
}

footer{
  height: 75px;
  text-align: center;
  color: orange;
  clear: both;
}

.header img{
  height: 300px;
  width: 100%;
}

.logoHeader{
  height: 10px;
}
.logoHeader h1{
  position: relative;
  top: -175px;
  font-family: 'Righteous', sans-serif;
  font-size: 100px;
  color: black;
  text-align: center;
}

.content{
  float: left;
  margin: 20px;
  background-color: white;
  width: 60%;
  padding: 10px;
  border: 1px solid orange;
  text-align: center;
  border-radius: 10px;
}

.content_head{
  background-color: #FBB34C;
  font-family: 'Righteous', sans-serif;
}

.brewImg{
  position: inherit;
  margin: auto;
}

.brewImg img{
  margin: auto;
  width: 95%;
}

.content h1{
  font-size: 50px;
}

.content h2{
  text-decoration: underline;
  color: grey;
}

.content p{
  font-family: Arial, sans-serif;
}

.mapContainer{
  float: right;
  width: 30%;
  margin: 20px;
  border: 1px solid orange;
  border-radius: 10px;
}

aside{
  float: right;
  width: 30%;
  margin: 20px;
  background-color: lightgrey;
  padding: 10px;
  border: 1px solid orange;
  text-align: center;
  border-radius: 10px;
}

aside h1{
  text-decoration: underline;
  color: #FBB34C;
}

.beerContent{
  display: block;
  margin: auto;
  background-color: white;
  width: 50%;
  padding: 10px;
  border: 1px solid orange;
  text-align: center;
  border-radius: 10px;
}

#bac{
  display: flex;
  flex-direction: row;
}

#optionIcon{
  width: 40px;
  height: 40px;
}
.section{
  width:100%;
  text-align: center;
  padding: 10px;
}
.section1{
  clear: both;
  width:500px;
  padding: 10px;
  margin: auto;
  text-align: center;
}

.test{
  height: 200px;
  width: 200px;
  background-color: red;
}

.indexBrew{
  margin: auto;
  text-align: center;
}

.sorts{
  /*background-color: #FFD607;*/
  padding: 5px;
  margin: auto;
  width: 90%
}

.sorts button{
  margin: 3px;
}

.well-lg{
  width: 80%;
  margin: auto;
}

@media screen and (max-width: 600px) {
  .logoHeader h1{
    position: relative;
    font-size: 75px;
  }

  .content{
    margin: 10px;
    background-color: white;
    width: 80%;
    padding: 10px;
    border: 1px solid orange;
    text-align: center;
    border-radius: 10px;
  }

  .content img{
    display: block;
    padding: 10px;
    margin: auto;
    height: 150px;
  }

  .mapContainer{
    float: left;
    width: 80%;
    margin: 10px;
    border: 1px solid orange;
    border-radius: 10px;
  }

  aside{
    float: left;
    width: 80%;
    margin: 10px;
    background-color: lightgrey;
    padding: 10px;
    border: 1px solid orange;
    text-align: center;
    border-radius: 10px;
  }

  .beerContent{
    display: block;
    margin: auto;
    background-color: white;
    width: 80%;
    padding: 10px;
    border: 1px solid orange;
    text-align: center;
    border-radius: 10px;
  }
}


@media screen and (max-width: 400px) {
  .logoHeader h1{
    position: relative;
    font-size: 50px;
  }

  .content{
    margin: 10px;
    background-color: white;
    width: 80%;
    padding: 10px;
    border: 1px solid orange;
    text-align: center;
    border-radius: 10px;
  }

  .content img{
    display: block;
    padding: 10px;
    margin: auto;
    height: 100px;
  }

  .mapContainer{
    float: left;
    width: 90%;
    margin: 10px;
    border: 1px solid orange;
    border-radius: 10px;
  }

  aside{
    width: 90%;
    margin: 10px;
    background-color: lightgrey;
    padding: 10px;
    border: 1px solid orange;
    text-align: center;
    border-radius: 10px;
  }

  .beerContent{
    display: block;
    margin: auto;
    background-color: white;
    width: 90%;
    padding: 10px;
    border: 1px solid orange;
    text-align: center;
    border-radius: 10px;
  }

}
