

<div class="indexBrew">
    <h1>Search Breweris</h1>
    <p><input type="text" ng-model="filt.names" placeholder="Search Breweries"></p>
</div>

<div class="beers-container">
  <div class="brewery-container-index" data-ng-repeat="brewery in vm.breweries | filter: filt.names">
    <p class="style_name"><a data-ui-sref="breweryShow({id: brewery.id})">{{brewery.name}} </a></p>
    <a data-ui-sref="breweryShow({id: brewery.id})"><img class="icon-image" src="{{brewery.icon}}" alt=""></a>
  </div>
</div>
